*.l[ao]
*.[ao]
.deps
.libs
/aclocal.m4
/ar-lib
/autom4te.cache
/compile
/config.*
/configure
/depcomp
/dist
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
Makefile
Makefile.in
examples/[cdv]webp
examples/gif2webp
examples/webpmux
/output
/doc/output
*.idb
*.pdb
/iosbuild
/WebP.framework
# Xcode
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
